<h1>id: 
<%= @tasks.id %>
 のメッセージ詳細ページ</h1>

<p>
<%= @tasks.content %>
</p>

<%= link_to '一覧に戻る', task_path %>

<%= link_to 'このメッセージを編集する', edit_message_path(@tasks) %>

<%= link_to 'このメッセージを削除する', @tasks, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>