<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      <%= form_for(@task) do |f| %>
        <% if task.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% task.errors.full_messages.each do |task| %>
                <li><%= task %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
  
        <div class="form-group">
          <div>
            <label class="control-label">タスク名</label>
            <%= f.text_field :content, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label class="control-label">ステータス</label>
            <%= f.select :status, options_for_select(['未着手', '仕掛り', '承認待ち', '完了']), {}, class: "form-control" %>
          </div>
        </div>
        
        <%= f.submit '登録', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>